<a href="https://colab.research.google.com/github/Nadiabona/New_folder/blob/main/ab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
e = pd.read_excel("/content/Домашнее задание (исходник).xlsx")
eg = e.groupby(by=["animal",'species']).agg(cnt_check=("check","count"),avg_check=("check","mean"), var_check=("check","var"))
eg

                                             cnt_check     avg_check  \
animal                species
Кошка                 Домашняя обыкновенная       1037  26252.648987
                      Домашняя породистая          375  27404.896000
                      Уличная                      598  24168.826087
Собака                Домашняя обыкновенная        920  26733.493478
                      Домашняя породистая          249  20443.963855
                      Уличная                      774  25679.635659
Экзотическое животное Экзотическое животное        893  28748.667413

                                                var_check
animal                species
Кошка                 Домашняя обыкновенная  1.386448e+09
                      Домашняя породистая    1.250974e+09
                      Уличная                1.625214e+09
Собака                Домашняя обыкновенная  6.085533e+08
                      Домашняя породистая    7.048466e+08
                      Уличная                5.981058e+08
Экзотическое животное Экзотическое животное  1.461484e+09

In [ ]:
a1 = 'Собака'
a2 = 'Кошка'
s, p = stats.ttest_ind(e[(e['animal'] == a1 )]['check'], e[(e['animal'] == a2 )]['check'])
a1 + (" незначительно" if abs(s)< 1.96 else "") + (" дороже " if s > 0 else " дешевле ") + f"чем {a2}"

'Собака незначительно дешевле чем Кошка'

In [ ]:
a1 = 'Экзотическое животное'
a2 = 'Собака'
s, p = stats.ttest_ind(e[(e['animal'] == a1 )]['check'], e[(e['animal'] == a2 )]['check'])
a1 + (" незначительно" if abs(s)< 1.96 else "") + (" дороже " if s > 0 else " дешевле ") + f"чем {a2}"

'Экзотическое животное дороже чем Собака'

In [ ]:
a1 = 'Экзотическое животное'
a2 = 'Кошка'
s, p = stats.ttest_ind(e[(e['animal'] == a1 )]['check'], e[(e['animal'] == a2 )]['check'])
a1 + (" незначительно" if abs(s)< 1.96 else "") + (" дороже " if s > 0 else " дешевле ") + f"чем {a2}"

'Экзотическое животное незначительно дороже чем Кошка'

In [ ]:
a1 = 'Собака'
a2 = 'Кошка'
species = e["species"].unique()
for s1 in species:
  for s2 in species:
    s, p = stats.ttest_ind(e[(e['animal'] == a1 ) & (e['species'] == s1)]['check'], 
                           e[(e['animal'] == a2 ) & (e['species'] == s2)]['check'])
    if s < -1.96:
      print(s2,a2, " дороже чем ", s1,a1)

Домашняя обыкновенная Кошка  дороже чем  Домашняя породистая Собака
Домашняя породистая Кошка  дороже чем  Домашняя породистая Собака

In [ ]:
a1 = 'Экзотическое животное'
a2 = 'Кошка'
s2 = 'Домашняя породистая'
s, p = stats.ttest_ind(e[(e['animal'] == a1 )]['check'], e[(e['animal'] == a2 ) & (e['species'] == s2) ]['check'])
a1 + (" незначительно" if abs(s)< 1.96 else "") + (" дороже " if s > 0 else " дешевле ") + f"чем {a2} {s2}"

'Экзотическое животное незначительно дороже чем Кошка Домашняя породистая'